<h1>My tasks</h1>
<%= link_to "Add a new task", new_task_path %>
<ul>
<% @tasks.each do |task| %>
    <li>
      <div class="list_tasks">
        <p>Completed task ?   </p>
        <% if task.completed %>
          <input type="checkbox" checked>
        <% else %>
          <input type="checkbox">
        <% end %>
        <p>&nbsp&nbsp</p>
        <%= link_to task.title, task_path(task) %>
        <p>&nbsp&nbsp</p>
        <%= link_to "Delete", task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        <p>&nbsp&nbsp</p>
        <%= link_to "Edit", edit_task_path(task) %>
    </li>
  <% end %>
</ul>

